body{
    background-color: rgb(34, 33, 33); 
}
h1{
    color:#66BFBF;
    font-family:"Courier New";
    text-align: center;
}
h3{
    color:#aa66bf;
    font-family:"Courier New";
    text-align: center;
}
p{
    color:#66BFBF;
    font-family:"Courier New";
    text-align: center;
}
h2{
    color:#aa66bf;
    font-family:"Courier New";
    text-align: center;
}
ul{
    color:#ffffff;
    font-family:"Courier New";
    text-align: center;
}
table{
    color:#9e66bf;
    font-family:"Courier New";
    margin: 0 auto;
}
td{
    color:#ffffff;
    font-family:"Courier New";
    text-align: center;
}



hr {    
    border-style: none;
    border-top-style: dotted;
    border-color:rgb(35, 82, 168);
    border-width: 10px;
    width: 5%;
}

.asad {
    margin-top: 200px;
}
.qwe {
    margin-top: 300px;
}

.left h1,p{
    text-align: left;
}
